/* *{
    margin: 0;
    padding: 0;
    background-color: khaki;
} */

:root{
    --main-color:#8f20da;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 50px;
    margin: auto;
}

img:hover{
    transform: scale(2.0);
    transition: 0.5s;
}

hr{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.Vtop{
    color: red;
}

nav{
    display: flex;
    justify-content: center;
    padding: 10px;
}

ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

nav a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
    transition: .2s linear;
}

body{
    /* grid-template-areas: 
    "form1 form1 "
    "makanan makanan "
    "jumlah jumlah"
    "voucher voucher"
    "submit";
    grid-template-columns: 0.8fr 0.7fr 0.5fr;
    grid-template-rows: 1fr 0.5fr; */
}

.form1, .jumlah, .voucher, .submit{
    margin: 5px;
    padding: 2px;
    border: solid 2px;
    border-radius: 5px;
}

.container2{
    background-color: aqua;

}